/* Override dark theme because :( */
h1, h2 {
    color: #1E1F22;
}
html {
    background-color: #FFFFFF;
}


/*UNIT*/
.section-heading, .section-heading span, .modal-component-title, .modal-unit-heading, .centre p{
    color: #1E1F22;
}
.modal-component-title, .modal-unit-heading{
    font-weight: bold;
}
.section-divider {
    background-color: #1E1F22;
}
.unit-heading, .unitTileHolder, .nav-tile {
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.modal-content {
    background: white;
}
.modal-unit-description {
    color: #0c00af;
}
.modal-component-description {
    color: #292929;
}
.modal-content-item * {
    color: #2c2c2c;
}
.assignment-table tr th:nth-child(even) {
    color: #2c2c2c;
}
.assignment-table tr th:nth-child(odd) {
    color: #1E1F22;
}