@font-face {
  font-family: 'Blender Pro';
  src: url('font/BlenderPro-Medium.eot');
  src: local('font/Blender Pro Medium'), local('font/BlenderPro-Medium'),
      url('font/BlenderPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('font/BlenderPro-Medium.woff2') format('woff2'),
      url('font/BlenderPro-Medium.woff') format('woff'),
      url('font/BlenderPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
html {
  background-color: #2B2D31;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Century Gothic";
}
header{
  display: flex;
  gap: 50px;
  max-height: 60px;
  padding-top: 5px;
  background-color: #1E1F22;
  justify-content:space-evenly;
  align-items: center;
}
.nav-logo{
  height: 60px;
  align-self: flex-start;
  margin-left: 15px;
  cursor: pointer;
  padding: 12px 0px;
}
.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  float: right;
  margin-right: 20px;
  border: 2px #ffffff12 solid;
}
.term-xp-label{
  color: #F2E900;
  font-family: 'Blender Pro';
  font-size: 20px;
  width: 100px;
  text-align: end;
}
.term-xp-bar{
  width: 100%;
  background-color: #F1EFEF;
}
.term-xp-progress{
  height: 10px;
  background-color: #54FF00;
}
.dropdown-container{
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
  right: 0;
}
.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}
.dropdown-content button{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  width: 100%;
  font-size: 15px;
  text-align: left;
}
.dropdown-content button:hover{
  background-color: #ddd;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropbtn{
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
