@keyframes floatInSpace {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes glowing {
    0%{
        box-shadow: 0 0 100px 70px rgb(250, 255, 180);
    }
    50%{
        box-shadow: 0 0 100px rgb(250, 255, 180);
    }
    100%{
        box-shadow: 0 0 100px 70px rgb(250, 255, 180);
    }
}
.floatInSpace{
    animation: floatInSpace 15s ease 0s infinite;
}
.glowing{
    animation: glowing 10s ease 0s infinite;
}
body{
    background-color: black;
}
.star{
    position: absolute;
    background-color: white;
    border-radius: 50%;
}
.pluto-svg{
    position: absolute;
    top: 4%;
    left: -9%;
    width: 45%;
    z-index: 2;
}
.shining-star-svg{
    position: absolute;
    top: 14%;
    left: 60%;
    width: 530px;
    z-index: 2;
}
.glow {
    position: absolute;
    background-color: rgb(255, 253, 232);
    width: 50px;
    height: 50px;
    top: 14%;
    left: 60%;
    transform: translate(224px, 178px);
    border-radius: 50%;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}
form{
    height: 360px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    z-index: 5;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 12px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #000000;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #000000;
    color: #000000;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(0, 0, 0, 0.27);
  color: #000000;
  text-align: center;
}
.social div:hover{
  background-color: rgba(0, 0, 0, 0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}

.centre-button{
    display: block;
    width: 100px;
    margin: 0 auto;
}

.invalid-feedback{
    color: red;
    padding: 5px;
}
