body {
    color: white;
}
h1 {
    font-family: 'Blender Pro';
    color: #F2E900;
    margin-top: 80px;
    font-size: 30px;
    letter-spacing: 10px;
}
h2 {
    font-family: 'Blender Pro';
    color: #F2E900;
    margin-top: 50px;
    font-size: 25px;
    letter-spacing: 10px;
}
.split {
    margin-top: 60px;
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
.left {
    left: 0;
}
.right {
    right: 0;
}
.profile-title {
  z-index: 10;
  position: absolute;
  padding: 18px;
}
.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.centered img {
    width: 400px;
    height: 400px;
}
.ranks {
    margin-top: 50px;
    margin-left: 100px;
}
.list-unit-card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 400px;
    height: 60px;
    margin: 20px 0px;
    background-color: #1E1F22;
    border-radius: 15px;
}
.unit-title {
    margin: 20px;
    width: 70%;
    float: left;
    font-family: 'Blender Pro';
    color: #ff8800;
}
.rank-icon-container{
    display: flex;
    width: 12%;
    margin: 10px;
    float: right;

}

