/*
    Outline for debug
        outline: 1px solid red;
*/

.body-content{
  display: block;
  padding: 20px 15%;
}

p1{
  display: block;
  margin-top: 20px;
  font-size: 3rem;
  font-family: 'Blender Pro';
  color: #02d7f2;
  font-weight: 400;
  text-align: center;
  padding: 20px;
}

.divider{
  position: absolute;
  margin-left: 2%;
  width: 96%;
  height: 1px;
  background-color: #dfdff3;
  margin-top: 15px;
}

.unit-heading{
  background-color: #35393E;
  padding: 0px 15px;
  border-radius: 15px;
}

.unit-title{
  letter-spacing: -2px;
}

.class-xp-container{
  display: flex;
  gap: 10px;
}

.class-xp-label{
  font-family: 'Blender Pro';
  color: #f2e900;
  width: 100px;
  padding: 5px;
}

.class-xp-bar{
  width: 100%;
  height: fit-content;
  background-color: white;
  align-items: center;
  align-self: center;
  margin-right: 10px;
  overflow: hidden;
  border-radius: 5px;
}

.class-xp-progress{
  width: 40%;
  height: 10px;
  background-color: #54FF00;
}

.weekly-content-container{
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content:space-evenly;
}

.flexbox{
  display: flex;
  justify-content: right;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* The Unit Page's Tile Components: */
.unitTileDiv {

}

.unitTileHolder {
  background-color: #1e1f22;
  border-radius: 16px;
  padding: 6px;
  margin-top: 50px;
  max-width: 300px;
  width: 300px;
  cursor: pointer;
}
.unitTile {
  background-color: #303339;
  border-radius: 16px;
  grid-auto-flow: column;
  display: grid;
  grid-column: 2;
  justify-items: start;
}
.unitTileIconHolder {
  background-color: white;
  border-radius: 16px;
  padding: 12px;
  display: inline-block;
  min-height: 60px;
  width: 80px;
  min-width: 80px;
  vertical-align: middle;
}
.unitTileContents {
  padding: 8px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.unitTileTitle {
  color: white;
  margin-top: 4px;
  font-size: 16px;
  font-weight: bold;
}
.unitTileLabel {
  color: #02d7f2;
  font-size: 14px;
  overflow: hidden;
  max-width: 100%;
  max-height: 36px;
  min-height: 36px;
}
.unitTileXpHolder {
  margin-top: 6px;
  vertical-align: middle;
  text-align: center;
}
.unitTileXpLabel {
  font-size: 13px;
  color: #f2e900;
  display: inline-block;
  vertical-align: middle;
}
.unitTileXpBar {
  background-color: white;
  min-width: 180px;
  min-height: 12px;
  border-radius: 6px;
  display: inline-block;
  vertical-align: middle;
}
.unitTileXpProgress {
  background-color: green;
  height: 12px;
  border-radius: 6px;
  float: left;
  width: 12%; /* THIS WILL BE INLINE FOR EACH EXP BAR */
}
.unitTileDescription {
  display: none;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* Modal Content/Box */
.modal-content {
  background-color: #1E1F22;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  min-height: 1000px;
}

.modal-unit-heading{
  color: #02d7f2;
  font-size: 3em;
  text-align: center;
}

.modal-unit-description {
  color: white;
  margin: 20px 100px;
  text-align: center;
}

.modal-weekly-quest-container{
  background-color: #35393E;
  height: fit-content;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.modal-weekly-quest-title{
  font-size: 2em;
  letter-spacing: 8px;
}

.modal-weekly-quest, .modal-weekly-quest-title{
  color: #FF7700;
  padding: 10px 15px;
}

/* Tile Components & Content Items: */
.modal-component { /*!!! this is for the divs that hold the component and its contents (feel free to style) */

}
.modal-component-title{
  color: #02d7f2;
  padding: 10px 15px
}
.modal-component-description{
  color: white;
  padding: 10px 15px
}
.modal-inner-content{
  color: white;
  padding: 10px 15px
}
.modal-content-item {
  padding: 10px 15px;
  width: 100%;
  display: list-item;
  list-style-type: square;
}
.modal-content-item.unordered {

}
.modal-content-item.ordered {
  list-style-type: decimal;
  padding-left: 11px;
}
.modal-content-item.ordered * {
  margin-left: 12px;
}
.modal-content-item.external {
  padding-left: 9px;
}
.modal-content-item.external * {
  margin-left: 12px;
}
.modal-content-item.external::marker {
  content: "🌏︎";
}
.modal-content-item * {
  color: white;
  display: inline;
  text-decoration: none;
}

/* The Task Checkbox Button: */
.modal-content-task {
  float: right;
  width: 20px;
  height: 20px;
  user-select: none;
}
.modal-content-task.completed {
  font-size: 32px;
  color: green;
  font-weight: bold;
  line-height: 0;
  padding-bottom: 10px;
}

/* The Close Button */
.close {
  color: #f2e900;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-edit-button{
  padding: 10px 15px;
  background-color: #FF7700;
  border-radius: 5px;
  width: fit-content;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 3px;
}

.modal-edit-button:hover{
  background-color: #02d7f2;
}