/*
    Outline for debug
        outline: 1px solid red;
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Century Gothic";
}

header{
  display: flex;
  gap: 20px;
  max-height: 60px;
  padding-top: 5px;
  justify-content:space-evenly;
  align-items: center;
}

.nav-logo{
  height: 60px;
  align-self: flex-start;
}

.menu-icon{
  width: 2%;
  min-width: 30px;
  padding: 5px;
  margin-left: 20px;
  align-self:center flex-start;
}

.menu-icon:hover{
  background-color: #a6a6b9;
  border-radius: 100px;
}

.profile-icon{

  width: 30px;
  height: 30px;
  float: right;
  margin-right: 20px;
}

nav{
flex-grow: 1;
}

.nav-links{
  list-style: none;

}

.nav-links li{
  display: inline-block;
}


.nav-links a{
  text-decoration: none;
  padding: 0px 20px;
  color: #2b2b52;
  box-shadow: inset 0 0 0 0 #e68545;
  transition: color .3s ease-in-out, box-shadow .4s ease-in-out;
}

.nav-links a:hover{
box-shadow: inset 150px 0 0 0 #9b5bc0;
color: white;
}

.body-content{
  display: block;
  padding: 20px 15%;
}

p1{
  display: block;
  margin-top: 20px;
  font-size: 3rem;
  color: #2b2b52;
  font-weight: 500;
}

p2{
  display: block;
  margin-top: 30px;

}

.divider{
  position: absolute;
  margin-left: 2%;
  width: 96%;
  height: 1px;
  background-color: #dfdff3;
  margin-top: 15px;
}

.unit-heading, .weekly-quest{
  /* background-image: linear-gradient(43deg, #b6c2ff 0%, #ffaffa 46%, #ffe0a7 100%); */
  padding: 0px 15px;
  border-radius: 15px;
}

.unit-heading{
  background-color: #dae5ff;
}

.weekly-quest{
  background-color: #ffc0fb;
}


.quest-title{
  color: #2b2b52;
  font-weight: BOLD;
  padding: 5px;
}

.quest-description{
  line-height: 30px;
  padding: 5px;
}

.unit-title{
  letter-spacing: -2px;
}

.unit-description{
  margin-bottom: 30px;
  line-height: 30px;
}

.weekly-content-container{
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content:space-evenly;
}

/* .test-button{
  display: block;
  width: 250px;
  margin-top: 50px;
  padding: 20px 0px;
  text-align: center;
  background-color: #2b2b52;
  color: #dfdff3;
  border-radius: 15px;
  transition: box-shadow .4s, width .2s ease-in-out, border-radius .2s ease-in-out;
  outline: inherit;
  border: none;

} */

.test-button{
  display: block;
  width: 250px;
  height: 80px;
  margin-top: 50px;
  padding: 20px 0px;
  text-align: center;
  background-color: #2b2b52;
  background-image:  linear-gradient(43deg, #b6c2ff 0%, #ffaffa 46%, #ffe0a7 100%);
  color: #4b4b77;
  font-weight: bold;
  font-size: 20px;
  border-radius: 18px 5px;
  transition: box-shadow .4s, width .2s ease-in-out, border-radius .2s ease-in-out;
  outline: inherit;
  border: none;
}

.week-subtitle{
  font-size: 13px;
  color: #ff6c27;
}

.test-button:hover{
  box-shadow: #2b2b52 1px 1px 10px 1px;
  color: #ccccf8;
}

.button-openned{
  width: 100%;
  border-radius: 5px;
}

.weekly-content{

  padding: 0px 20px;
  background-image: linear-gradient(#f1daff, white 20%);
  max-height: 0;
  overflow: hidden;
  display: none;
  transition-delay: .3s;
  transition-property: max-height;
  transition-timing-function:cubic-bezier(1, 0, 0, 1);
  transition-duration: .6s;
}

.flexbox{
  display: flex;
  justify-content: right;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* The Unit Page's Tile Components: */
.unitTileDiv {

}

.unitTileHolder {
  background-color: #1e1f22;
  border-radius: 16px;
  padding: 6px;
  margin-top: 50px;
  max-width: 300px;
  width: 300px;
}
.unitTile {
  background-color: #303339;
  border-radius: 16px;
  grid-auto-flow: column;
  display: grid;
  grid-column: 2;
  justify-items: start;
}
.unitTileIconHolder {
  background-color: white;
  border-radius: 16px;
  padding: 12px;
  display: inline-block;
  min-height: 60px;
  width: 80px;
  min-width: 80px;
  vertical-align: middle;
}
.unitTileContents {
  padding: 8px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.unitTileTitle {
  color: white;
  margin-top: 4px;
  font-size 16px;
  font-weight: bold;
}
.unitTileLabel {
  color: #02d7f2;
  font-size: 14px;
  overflow: hidden;
  max-width: 100%;
  max-height: 36px;
  min-height: 36px;
}
.unitTileXpHolder {
  margin-top: 6px;
  vertical-align: middle;
  text-align: center;
}
.unitTileXpLabel {
  font-size: 13px;
  color: #f2e900;
  display: inline-block;
  vertical-align: middle;
}
.unitTileXpBar {
  background-color: white;
  min-width: 180px;
  min-height: 12px;
  border-radius: 6px;
  display: inline-block;
  vertical-align: middle;
}
.unitTileXpProgress {
  background-color: green;
  height: 12px;
  border-radius: 6px;
  float: left;
  width: 12%; /* THIS WILL BE INLINE FOR EACH EXP BAR */
}

.unitTileDescription {
  display: none;
}
